/* Gradient Effect */
*{
    margin: 0;
    padding: 0;
}
body {
	background: radial-gradient(circle at top right, #ffa949 0%, firebrick 20%, dodgerblue 100%);
	animation: gradient 15s ease infinite;
	height: 100%;
    font-weight: bold;
    color: white;
    word-wrap: break-word;
}

#container{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

#heading{
    text-align: center;
    margin: 20px;
}

div div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    height: 200px;
    /* width: 100px; */
    word-wrap: break-word;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.first:hover, .col:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

.row :first-child{
    width: 150px;
}

.col{
    font-size: 5px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2px;
}
span{
    font-weight: 100;
    font-size: x-small;
    text-align: center;
    word-wrap: break-word;
}